.view{
    display: flex;
    position:sticky ;
    
}


.img{
    width:25%;
    margin:40px;
    padding:10px;
}

.details-section{
    text-align: center;
    margin-top:70px;
    font-size: 20px;
    padding-left: 40px;
    margin-left: 40px;;
}

.price-rating{
    display: flex;
    justify-content: center;
    gap:10%;
}

.button{
    display: flex;
    margin: 30px 0px;
    gap: 20px;  
    
}

.btn{
    padding:18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}


.cart-button{
    padding:20px 40px;
    width:300px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: rgb(8, 104, 69);
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}


.heart-icon{
    
    margin-left:20%;
}

.stock{
    justify-content: center;
}

.notify-button{
    
    
    
   
    padding:20px 40px;
    width:120px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: rgb(8, 104, 69);
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    

 }
 .stock-tag{
    color: red;
 }