/* .product{
   
   
} */
 .products{
   
   
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid:10%;
   
   

       

    
 }

 .items{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    
        
       
 }
