/* .product{
   
   
} */
 .products{
   
   
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid:10%;
   
   

       

    
 }

 .items{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    
        
       
 }





 .heading{
  display: flex;
  justify-content: center;
  color:  rgb(4, 44, 36);
}

.tag{
  display: flex;
  justify-content: center;
  font-size: 80%;
  color:  rgb(4, 44, 36);
  font-weight: 500;

}

.saleproducts{
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}






 