
/* .item{
    display: flex;
    flex-direction: column;
   

} */

.badge{
    position:relative;
}
.new{
    position: absolute;
    background-color: red;
    color:white;
    border-radius: 5px;
    height: 20px;
    width: 40px;
    padding: 5px;
    font-size: 13px;
    z-index: 1;

}

.overlay{
    opacity: 0.6;
}
 .notify{
    background-color: green;
    color: white;
    border: none;
    margin-left: 30%;

 }
 .wishlist{
    background-color: green;
    color: white;
    border: none;
    margin-left: 30%;
    height: 20px;
 }
 .price{
    padding-left: 20px;
 }
 .name{
   margin-left: 30%;
 }
.item{
    margin: 20px;;
    font-weight: 500;
}
.adjust{
    display: flex;
    gap:10%;
    font-size: 13px;
    
    
    /* margin-right: 40px; */
    
}

.buttonAdjust{
    display: flex;
    margin-right: 20px;;
}
